//
// Module: Footer
// ----------------------------------------------------------------------------

.footer {
	margin: 1% auto 10%;
	font-size: 0.8em;
	text-align: center;

	a {
		text-decoration: none;
		color: $caded-blue;
	}
}
