//
// Module: Footer
// ----------------------------------------------------------------------------

.footer {
	opacity: .75;
	margin-top: 10%;
	margin-bottom: 10%;
	font-size: .7em;
	text-align: center;
	transition: opacity $duration;

	&:hover {
		opacity: 1;
	}

	a {
		display: inline-block;
		font-weight: bold;
		text-decoration: none;
		color: darken($iron, 30%);
		transition: color $duration;

		&:hover,
		&:focus {
			color: $accent-color;
		}
	}
}
