//
// Module: navigation
// ----------------------------------------------------------------------------

.nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	padding: 2em 2em 0;
	font-size: .8em;
	font-style: normal;
	font-weight: bold;
	letter-spacing: .025em;
	line-height: 1.875;
	text-align: left;
	text-transform: uppercase;

	// Items

	&__item {
		position: relative;
		display: block;
		padding: 0 1em 0 2em;
		text-decoration: none;
		color: $iron;
		transition:
			color $duration,
			opacity $duration,
			visibility $duration,
			transform $duration $easeOutBack;
		opacity: 0;
		visibility: hidden;

		// Add delay to each item
		@for $i from 1 to 10 {
			&:nth-child(#{$i}) {
				transform: translateY($i * -10px);
				transition-delay: $i * 0.06s;
			}
		}

		&:hover,
		&:focus {
			color: $accent-color;
		}

		// Toggle icon

		&--toggle {
			visibility: visible;
			opacity: 1;
			transform: none !important;

			// Spaceship icon

			&::before {
				position: absolute;
				top: 50%;
				left: 0;
				width: 18px;
				height: 2px;
				margin-top: -2px;
				background: $iron;
				box-shadow:
					3px 6px 0 $iron,
					3px -6px 0 $iron;
				transition:
					background $duration,
					box-shadow $duration,
					transform $duration;
				content: "";
			}

			&:hover::before,
			&:focus::before {
				background: $accent-color;
				box-shadow:
					3px 6px 0 $accent-color,
					3px -6px 0 $accent-color;
			}
		}

		// Search

		&--search input {
			max-width: 120px;
			padding: .25em;
			margin-left: -.25em;
			background: rgba(255,255,255,.03);
			border: none;
			border-radius: 3px;
			transition: background $duration;

			&:hover,
			&:focus {
				background: rgba(255,255,255,.06);
				outline: none;
			}
		}
	}

	// Nav open

	&--open {
		.nav__item {
			visibility: visible;
			opacity: 1;
			transform: none;

			&--toggle {
				color: $accent-color;

				&::before {
					background: $accent-color;
					box-shadow:
						-4px 7px 0 $accent-color,
						-4px -7px 0 $accent-color;
					transform: translateX(4px);
				}
			}
		}
	}
}
