//
// Modules: notes
// ----------------------------------------------------------------------------

.notes {
	padding: $gutter;
	margin: 10% 0 0;
	list-style: none;
	font-size: 0.8em;
	background: rgba(255,255,255,.01);
	border: 1px solid rgba(255,255,255,.01);
	border-top: none;
	box-shadow: 0 50px 80px 0 rgba(0,0,0,.1);

	.note + .note {
		padding-top: 1em;
	}

	.avatar_frame img {
		max-width: 32px;
	}

	.action {
		padding-left: .75em;

		a {
			opacity: .5;
			border-bottom: 1px solid rgba(255,255,255,.1);
			transition: opacity $duration, color $duration, border $duration;

			&:hover,
			&:focus {
				opacity: 1;
				border-color: rgba(255,255,255,.4);
			}
		}
	}
}
