//
// Modules: posts
// ----------------------------------------------------------------------------

.post {
	position: relative;
	min-height: 300px;
	margin-bottom: 20%;
	background: rgba(255,255,255,.03);
	border: 1px solid rgba(255,255,255,.03);
	box-shadow: 0 50px 80px 0 rgba(0,0,0,.2);


	// Content
	// ----------------------------------------------

	&__content {
		padding: ($gutter/2.5) $gutter ($gutter/1.5);

		img {
			width: calc(100% + #{$gutter*2.31});
			max-width: none;
			margin: 1em (-$gutter*1.15);
		}
	}


	// Post Title
	// ----------------------------------------------

	&__title {
		color: $accent-color;

		a {
			display: inline-block;
			text-decoration: none;
			color: inherit;
			transition: color $duration;

			&:hover,
			&:focus {
				color: #fff;

				svg {
					fill: currentColor;
				}
			}
		}

		svg {
			display: inline-block;
			vertical-align: bottom;
			max-width: 24px;
			margin-right: .5em;
			fill: $accent-color;
		}
	}


	// Post Meta
	// ----------------------------------------------

	&__meta {
		position: absolute;
		font-size: .8em;
		font-weight: bold;
		transform-origin: top right;

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		li {
			display: inline-block;
		}

		svg {
			max-width: 20px;
			fill: $iron;
			cursor: pointer;
			transition: all $duration;

			&:hover,
			&:focus {
				fill: $accent-color;
				transform: scale(1.2);
			}
		}

		// Links

		a {
			display: inline-block;
			padding: .4em 1em;
			text-decoration: none;
			color: $iron;
			transition: color $duration;

			&:hover,
			&:focus {
				color: $accent-color;

				svg {
					fill: $accent-color;
					transform: scale(1.2);
				}
			}
		}

		// Share

		.share {
			position: relative;
			padding: .4em 1em;
			perspective: 600px;

			// Share tooltip

			ul {
				position: absolute;
				bottom: 100%;
				padding: .25em;
				text-align: center;
				background: rgba(255,255,255,.925);
				box-shadow: 0 5px 15px rgba(0,0,0,.5);
				opacity: 0;
				transform-origin: bottom center;
				transform: translate(-25%, 0);
				transition: all .3s;

				&:before {
					position: absolute;
					top: 100%;
					left: 50%;
					border-top: 8px solid rgba(255,255,255,.925);
					border-left: 8px solid transparent;
					border-right: 8px solid transparent;
					transform: translateX(-50%);
					content: "";
				}
			}

			&:hover ul {
				display: block;
				opacity: 1;
				transform: translate(-25%, -.5em);
			}

			a {
				padding: .4em .5em;

				svg {
					max-width: 20px;
					fill: $background;
				}
			}

			// Icon Colors

			li {

				// Facebook
				&:nth-child(1) svg {
					fill: #3b5998;
				}

				// Twitter
				&:nth-child(2) svg {
					fill: #55acee;
				}

				// Pinterest
				&:nth-child(3) svg {
					fill: #bd081c;
				}
			}
		}

		// Post meta / Aside

		&--aside {
			@extend .post__meta;
			top: $gutter;
			right: 0;
			transform: rotate(90deg) translate(100%, -50%);
		}

		// Post meta / Footer

		&--footer {
			@extend .post__meta;
			left: $gutter;
			bottom: 0;
			transform: translate(-1em, 50%);
		}
	}
}
