//
// Modules: posts
// ----------------------------------------------------------------------------

.post {
	position: relative;
	margin-bottom: 20%;
	background: rgba(255,255,255,.03);
	outline: 1px solid rgba(255,255,255,.06);
	box-shadow: 0 100px 100px -50px rgba(0,0,0,.3);
	transform-origin: top center;


	// Content
	// ----------------------------------------------

	&__content {
		padding: $gutter/2.25 $gutter $gutter/1.5;

		@include breakpoint(600) {
			padding: $gutter/2;
		}
	}


	// Post Title
	// ----------------------------------------------

	&__title {
		color: $accent-color;

		a {
			display: inline-block;
			text-decoration: none;
			color: inherit;
			transition: color $duration;

			&:hover,
			&:focus {
				color: #fff;

				svg {
					fill: currentColor;
				}
			}
		}

		svg {
			display: inline-block;
			vertical-align: bottom;
			max-width: 24px;
			margin-right: .5em;
			fill: $accent-color;
		}
	}


	// Post Meta
	// ----------------------------------------------

	&__meta {
		position: absolute;
		font-size: .8em;
		font-weight: bold;
		transform-origin: top right;

		// Links

		a {
			display: inline-block;
			padding: .5em 1em;
			text-decoration: none;
			color: $iron;
			transition: color $duration;

			svg {
				max-width: 20px;
				fill: $iron;
				transition: all $duration;
			}

			&:hover,
			&:focus {
				color: $accent-color;

				svg {
					fill: transparent;
					stroke: $iron;
					stroke-width: 3;
				}
			}
		}

		// Post meta / Aside

		&--aside {
			@extend .post__meta;
			top: $gutter;
			right: 0;
			transform: rotate(90deg) translate(100%, -50%);
		}

		// Post meta / Footer

		&--footer {
			@extend .post__meta;
			left: $gutter;
			bottom: 0;
			transform: translateY(50%);

			a {
				padding: .75em;

				&:first-child {
					margin-left: -.75em;
				}
			}
		}
	}
}
