//
// Base: Helper Classes
// ----------------------------------------------------------------------------


// Clearfix
// ----------------------------------------------

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}


// Image replacement
// ----------------------------------------------

.ir {
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
}


// Hide elements
// ----------------------------------------------

.hidden {
	display: none;
	visibility: hidden;
}


// Responsive video
// ----------------------------------------------

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	margin: -1px;
	background: black;

	iframe,
	object {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}


// Responsive audio
// ----------------------------------------------

.audio-container {
	position: relative;
	margin: -1px;
	background: rgba(255,255,255,.9);

	iframe,
	object {
		display: block;
		width: 100%;
		height: auto;
		margin: 0 auto;
	}

	.spotify_audio_player {
		max-height: 80px;
	}
}
