//
// Base: Typography
// ----------------------------------------------------------------------------

body {
	font: 1.25em/1.5 $font-text;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $iron;
	background: $background;

	@include breakpoint(800) {
		font-size: 1.125em;
	}
}

// A better looking default horizontal rule

hr {
	display: block;
	height: 1px;
	padding: 0;
	margin: 1em 0;
	border: 0;
	border-top: 1px solid $caded-blue;
}

// Selection color

::selection {
	text-shadow: none;
	opacity: 1;
	background: $iron;
}


// Headlines
// ----------------------------------------------

h1, h2, h3, h4 {
	font-family: $font-display;
	font-weight: bold;
	color: #fff;
}

h1 {
	font-size: 1.5em;
	margin-top: 1em;
	margin-bottom: 1em;
}

h2 {
	font-size: 1.3em;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1.1em;
}


// Post Chat
// ----------------------------------------------

.chat {
	padding: 0;
	list-style: none;

	li {
		padding: 1em $gutter;
		margin: 0 (-$gutter);
		border-top: 1px solid rgba(255,255,255,.03);

		&:first-child {
			border-top: none;
		}
	}

	// Label

	&__label {
		display: block;
		font-weight: bold;
		color: $accent-color;
	}
}


// Post Quote
// ----------------------------------------------

.quote {
	margin-left: 0;
	font-size: 1.3em;
	font-style: italic;

	cite {
		display: block;
		margin-top: 1em;
		font-size: .7em;
		font-style: normal;
	}
}


// Post Photo
// ----------------------------------------------

.photo {
	margin: -1px -1px 0;

	img {
		width: 100%;
	}
}


// Main header
// ----------------------------------------------

.main__header {
	position: relative;
	padding: 0 $gutter $gutter;
	font-size: .9em;
	font-style: italic;
	text-align: center;
	color: $iron;
	opacity: 1;

	// Color tag, search query, and date

	.search_query,
	.tag,
	.date_string {
		color: $accent-color;
	}
}
