//
// Base: Typography
// ----------------------------------------------------------------------------

body {
	font: 1.25em/1.5 $font-text;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $text-color;
	background: $background;

	@include breakpoint(800) {
		font-size: 1.125em;
	}
}

// A better looking default horizontal rule

hr {
	display: block;
	height: 1px;
	padding: 0;
	margin: 1em 0;
	border: 0;
	border-top: 1px solid rgba(255,255,255,.5);
}

// Selection color

::selection {
	text-shadow: none;
	opacity: .5;
	background: currentColor;
}


// Headlines
// ----------------------------------------------

h1, h2, h3, h4 {
	font-family: $font-display;
	font-weight: bold;
	color: white;
}

h1 {
	font-size: 1.5em;
	margin-top: 1em;
	margin-bottom: 1em;
}

h2 {
	font-size: 1.3em;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1.1em;
}


// Links and icons inside links
// ----------------------------------------------

a {
	text-decoration: none;
	color: inherit;

	svg {
		fill: currentColor;
	}

	&:hover,
	&:focus {
		color: $accent-color;

		svg {
			fill: $accent-color;
		}
	}
}


// Chat / Question & Answer
// ----------------------------------------------

.chat {
	padding: ($gutter/2.5) 0 ($gutter/1.5);
	margin: 1em 0;
	list-style: none;

	li {
		padding: 1em $gutter;
		border-top: 1px solid rgba(255,255,255,.03);

		&:first-child {
			border-top: none;
		}
	}

	// Links

	a {
		border-bottom: 1px solid rgba(255,255,255,.1);
		transition: color $duration, border $duration;

		&:hover,
		&:focus {
			border-color: rgba(255,255,255,.4);
		}
	}

	// Label

	&__label {
		display: block;
		font-weight: bold;
		color: $accent-color;
	}

	// Answer

	&--answer {
		padding: 0 0 ($gutter/1.5);
		margin: 0;

		li {
			padding-left: $gutter;
			padding-right: $gutter;
			border-top: none;

			&:first-child {
				padding-top: 2em;
				padding-bottom: 2em;
			}
		}
	}

	// Question

	&__question {
		position: relative;
		margin: 0 -1px;
		background: rgba(255,255,255,.1);

		// Question arrow

		&::before {
			position: absolute;
			bottom: 100%;
			left: 1px;
			border-left: 15px solid rgba(255,255,255,0.125);
			border-right: 15px solid transparent;
			border-top: 15px solid transparent;
			box-shadow: -1px 0 0 rgba(255,255,255,0.15);
			content: "";
		}
	}

}


// Quotes
// ----------------------------------------------

.quote {
	margin-left: 0;
	font-size: 1.3em;
	font-style: italic;

	cite {
		display: block;
		margin-top: 1em;
		font-size: .7em;
		font-style: normal;
	}
}


// Photos
// ----------------------------------------------

.photo {
	margin: -1px -1px 0;

	img {
		width: 100%;
	}
}


// Main header for search, day and tag pages
// ----------------------------------------------

.main__header {
	position: relative;
	padding: 0 $gutter $gutter;
	font-size: .9em;
	font-style: italic;
	text-align: center;
	opacity: 1;

	// Color tag, search query, and date

	.search_query,
	.tag,
	.date {
		color: $accent-color;
	}
}
