//
// Base: Variables
// ----------------------------------------------------------------------------


// Container and Gutter
// ----------------------------------------------

$gutter: 6.25%;
$maxWidth: 700px;

// Colors
// ----------------------------------------------

$cod-gray: #04090d;
$iron: #cccdce;
$caded-blue: #aab4be;
$turbo: #fbe800;

// Main Colors

$background: $cod-gray;
$accent-color: $turbo;

// Social colors

$dribbble: #e9458b;
$facebook: #3b5998;
$pinterest: #bd081c;
$instagram: #675041;
$twitter: #55acee;


// Fonts
// ----------------------------------------------

$font-display: "Fira Sans", sans-serif;
$font-text: "Fira Sans", sans-serif;


// Transitions
// ----------------------------------------------

$duration: .25s;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
