//
// Layout: Container
// ----------------------------------------------------------------------------
// Can't get any simpler than that

.container {
	@include clearfix();
	position: relative;
	width: 90%;
	max-width: $maxWidth;
	margin: 0 auto;
}
